<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346027423606-rjlkng9mcd0ue3c8u240ncujannv4d3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346027423606-rjlkng9mcd0ue3c8u240ncujannv4d3p</string>
	<key>API_KEY</key>
	<string>AIzaSyCjaXREEefTvfCJTvNcGTYSekc0mix99kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>346027423606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdscProject</string>
	<key>PROJECT_ID</key>
	<string>gdsc-solutions-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-solutions-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346027423606:ios:33082311f95fd8c432ec57</string>
</dict>
</plist>